h1 {
    font-size: 72px;
    color: yellow;
}

p {
    font-size: 36px;
    color: red;
}

div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: teal;
    font-size: 53px;
}

body {
    background-color: blueviolet;
}